<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--导入外部配置文件-->
    <properties resource="properties/jdbc.propertis"> </properties>

     <!--
8         development : 开发模式
9         work : 工作模式
10      -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <!-- 配置数据库连接信息 -->
            <dataSource type="POOLED">
                <!-- value属性值引用jdbc.properties配置文件中配置的值 -->
                <property name="driver" value="${jdbc_driverClassName}" />
                <property name="url" value="${jdbc_url}" />
                <property name="username" value="${jdbc_username}" />
                <property name="password" value="${jdbc_password}" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!-- 注册orderMapper.xml文件，
         orderMapper.xml位于mapper/orderMapper.xml这个包下，所以resource写成mapper/orderMapper.xml-->
        <mapper resource="mapper/orderMapper.xml"/>
    </mappers>

</configuration>